@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

img {
    width: 100%;
}

#logo {
    width: 50px;
}

.navbar-nav .nav-link.active {

    font-weight: bold;
    border-bottom: 2px solid $my-color-primary;
    //color: $my-color-primary;


}